.site-title{
    font-size: 36px;
    font-family: Lato-Regular;
}
.sub-title{
    font-family: PlayfairDisplay-Bold;
}

.site-des{
    font-family: Lato-Light;
   font-size:22px;
}
.site-block{
margin-top: 30%;
}

.site-img{
    width: 100%;
    height: auto;
}

#banner-section{
    padding-bottom:2%;
}