.contact-title {
    font-size: 22px;
    font-family: Lato-Bold;
    padding-bottom: 15px;
}

#contact-section {
    padding-top: 5%;
    padding-bottom: 5%;
    p {
        padding-top: 5%;
        text-align: center;
    }
    .inf {
        text-align: center;
    }
}