@font-face {
    font-family: Lato-Regular;
    src: url('../FONT/Lato/Lato-Regular.ttf');
  }
  @font-face {
    font-family: Lato-Light;
    src: url('../FONT/Lato/Lato-Light.ttf');
  }

  @font-face {
    font-family: Lato-Bold;
    src: url('../FONT/Lato/Lato-Bold.ttf');
  }

  @font-face {
    font-family: Montserrat-Medium;
    src: url('../FONT/Montserrat/Montserrat-Medium.ttf');
  }

  @font-face {
    font-family: Montserrat-Bold;
    src: url('../FONT/Montserrat/Montserrat-Bold.ttf');
  }

  @font-face {
    font-family: PlayfairDisplay-Regular;
    src: url('../FONT/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
  }

  @font-face {
    font-family: PlayfairDisplay-Bold;
    src: url('../FONT/Playfair_Display/static/PlayfairDisplay-Bold.ttf');
  }