header {
    margin-top: 2%;
}

header .container {
    display: grid;
    grid-template-columns: 1fr auto;
    font-family: Montserrat-Medium;
}

.brand {
    padding: 8px;
    font-size: 22px;
    font-family: PlayfairDisplay-Bold;
}

.menu-block {
    background-color: #231F20;
    color: #FFFFFF;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    border-radius: 4px;
}

.menus {
    color: white;
    font-family: Lato-Regular;
    font-size: 14px;
    padding: 5px 10px;
    a {
        color: white;
        text-decoration: none;
    }
}

.menu-icon {
    width: 25px;
    height: auto;
    margin-top: 10px;
    display: none;
}