.sub-learnmore-title {
    font-size: 22px;
    font-family: Lato-Bold;
}

.sub-learnmore-des {
    font-size: 16px;
    font-family: Lato-Regular;
}

.Service .row {
    padding: 5px;
}

.learnmore-title {
    font-size: 22px;
    font-family: Lato-Bold;
}

#learnmore-section {
    padding-top: 2%;
    padding-bottom: 2%;
    background-image: url('../IMAGE/Shiny\ Overlay.svg');
    background-size: cover;
    color: white;
}

.learnmore-block {
    padding-top: 15px;
}

.learnmore-wrapper {
    padding-top: 15px;
}