/* Extra large devices (large desktops, 1200px and up) */

@media screen and (max-width: 1600px) {
    .menu-block {
        display: flex;
    }
}


/* Large devices (desktops, 992px and up) */

@media screen and (max-width: 992px) {
    .menu-block {
        display: flex;
    }
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */

@media screen and(max-width: 768px) {
    .menu-block {
        display: flex;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media screen and (max-width: 576px) {
    .menu-block {
        display: block;
    }
    .site-block {
        margin-top: 0%;
        padding-left: 15px;
    }
    #service-section {
        padding: 2%;
    }
    .stage-des {
        padding: 15px;
    }
    .top {
        right: 15px;
    }
    .service-block {
        padding: 15px;
    }
    .service-wrapper {
        padding: 15px;
    }
    .price-title-main {
        .col-md-4 {
            padding: 0;
        }
    }
    .learnmore-block {
        padding: 15px;
    }
    .learnmore-wrapper {
        padding: 15px;
    }
    .contact-wrapper {
        padding: 15px;
    }
    .outer-box {
        margin: 5px;
    }
    .menu-icon {
        display: block;
    }
    .menu-block {
        display: none;
    }
}