.outer-box{
    border: 1px solid#0052E2;
    padding: 25px;
    background-color: white;
    border-radius: 5px;
}
.price-tag
    {
        font-size:22px;
       
        font-family:Lato-Bold;
    }
.price-title{
    font-size:22px;
       
    font-family:Lato-Bold;
}

.price-des{
    font-family: Lato-Regular;
    font-size: 16px;
}

.price-title-main{
    font-size: 36px;
    font-family: Lato-Regular;
    text-align:center;
    padding-top: 2%;
    padding-bottom: 2%;
}

#pricing-section{
    padding-top:2%;
    padding-bottom:2%;
    background-image: url('../IMAGE/Animated\ Shape.svg');
    background-size: cover;
}