.sub-service-title{
    font-size: 22px;
    font-family:Lato-Bold;
}

.sub-service-des{
    font-size: 16px;
    font-family:Lato-Regular;
}

.Service .row{
     padding: 5px;
     
}

.service-title{
    font-size: 22px;
    font-family:Lato-Bold;
}
#service-section{
    padding-top:2%;
    padding-bottom:2%;
    background-image: url('../IMAGE/Polygon\ Luminary.svg');
    background-size: cover;
    color: white;
}
