.stage-title-main{
    font-size: 36px;
    font-family: Lato-Regular;
    text-align:center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.stage p{
    text-align:center;
}

.stage-title{
    font-size:22px;
   
    font-family:Lato-Bold;
}

.stage-des{
    font-family: Lato-Regular;
    font-size: 16px;
}

#stage-circle{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 6px;
    background-color: #555;
    margin: auto;
}
.stage-img{
    height:100px;
}

.stage-block{
    padding: 5px;
    text-align: center;
}
#stage-section{
    padding-top:2%;
    padding-bottom:2%;
}