@font-face {
  font-family: Lato-Regular;
  src: url("../FONT/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: Lato-Light;
  src: url("../FONT/Lato/Lato-Light.ttf");
}

@font-face {
  font-family: Lato-Bold;
  src: url("../FONT/Lato/Lato-Bold.ttf");
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("../FONT/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat-Bold;
  src: url("../FONT/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: PlayfairDisplay-Regular;
  src: url("../FONT/Playfair_Display/static/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: PlayfairDisplay-Bold;
  src: url("../FONT/Playfair_Display/static/PlayfairDisplay-Bold.ttf");
}

header {
  margin-top: 2%;
}

header .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  font-family: Montserrat-Medium;
}

.brand {
  padding: 8px;
  font-size: 22px;
  font-family: PlayfairDisplay-Bold;
}

.menu-block {
  background-color: #231F20;
  color: #FFFFFF;
  padding-top: 8px;
  padding-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
}

.menus {
  color: white;
  font-family: Lato-Regular;
  font-size: 14px;
  padding: 5px 10px;
}

.menus a {
  color: white;
  text-decoration: none;
}

.menu-icon {
  width: 25px;
  height: auto;
  margin-top: 10px;
  display: none;
}

.site-title {
  font-size: 36px;
  font-family: Lato-Regular;
}

.sub-title {
  font-family: PlayfairDisplay-Bold;
}

.site-des {
  font-family: Lato-Light;
  font-size: 22px;
}

.site-block {
  margin-top: 30%;
}

.site-img {
  width: 100%;
  height: auto;
}

#banner-section {
  padding-bottom: 2%;
}

.sub-service-title {
  font-size: 22px;
  font-family: Lato-Bold;
}

.sub-service-des {
  font-size: 16px;
  font-family: Lato-Regular;
}

.Service .row {
  padding: 5px;
}

.service-title {
  font-size: 22px;
  font-family: Lato-Bold;
}

#service-section {
  padding-top: 2%;
  padding-bottom: 2%;
  background-image: url("../IMAGE/Polygon Luminary.svg");
  background-size: cover;
  color: white;
}

.stage-title-main {
  font-size: 36px;
  font-family: Lato-Regular;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.stage p {
  text-align: center;
}

.stage-title {
  font-size: 22px;
  font-family: Lato-Bold;
}

.stage-des {
  font-family: Lato-Regular;
  font-size: 16px;
}

#stage-circle {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 6px;
  background-color: #555;
  margin: auto;
}

.stage-img {
  height: 100px;
}

.stage-block {
  padding: 5px;
  text-align: center;
}

#stage-section {
  padding-top: 2%;
  padding-bottom: 2%;
}

.outer-box {
  border: 1px solid #0052E2;
  padding: 25px;
  background-color: white;
  border-radius: 5px;
}

.price-tag {
  font-size: 22px;
  font-family: Lato-Bold;
}

.price-title {
  font-size: 22px;
  font-family: Lato-Bold;
}

.price-des {
  font-family: Lato-Regular;
  font-size: 16px;
}

.price-title-main {
  font-size: 36px;
  font-family: Lato-Regular;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

#pricing-section {
  padding-top: 2%;
  padding-bottom: 2%;
  background-image: url("../IMAGE/Animated Shape.svg");
  background-size: cover;
}

.sub-learnmore-title {
  font-size: 22px;
  font-family: Lato-Bold;
}

.sub-learnmore-des {
  font-size: 16px;
  font-family: Lato-Regular;
}

.Service .row {
  padding: 5px;
}

.learnmore-title {
  font-size: 22px;
  font-family: Lato-Bold;
}

#learnmore-section {
  padding-top: 2%;
  padding-bottom: 2%;
  background-image: url("../IMAGE/Shiny Overlay.svg");
  background-size: cover;
  color: white;
}

.learnmore-block {
  padding-top: 15px;
}

.learnmore-wrapper {
  padding-top: 15px;
}

.contact-title {
  font-size: 22px;
  font-family: Lato-Bold;
  padding-bottom: 15px;
}

#contact-section {
  padding-top: 5%;
  padding-bottom: 5%;
}

#contact-section p {
  padding-top: 5%;
  text-align: center;
}

#contact-section .inf {
  text-align: center;
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1600px) {
  .menu-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {
  .menu-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (max-width: 768px) {
  .menu-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
  .menu-block {
    display: block;
  }
  .site-block {
    margin-top: 0%;
    padding-left: 15px;
  }
  #service-section {
    padding: 2%;
  }
  .stage-des {
    padding: 15px;
  }
  .top {
    right: 15px;
  }
  .service-block {
    padding: 15px;
  }
  .service-wrapper {
    padding: 15px;
  }
  .price-title-main .col-md-4 {
    padding: 0;
  }
  .learnmore-block {
    padding: 15px;
  }
  .learnmore-wrapper {
    padding: 15px;
  }
  .contact-wrapper {
    padding: 15px;
  }
  .outer-box {
    margin: 5px;
  }
  .menu-icon {
    display: block;
  }
  .menu-block {
    display: none;
  }
}

.custom-container {
  max-width: 992px;
  margin: 0 auto;
}

body {
  font-family: Lato-Regular;
  text-transform: capitalize;
}

html {
  scroll-behavior: smooth;
}

.custom-btn {
  border: 1px solid #0052E2;
  color: #0052E2;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: bolder;
  font-size: 12px;
}

.custom-btn-large {
  border: 1px solid #0052E2;
  color: #0052E2;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  font-weight: bolder;
  margin: 8px;
  font-size: 12px;
  width: 100%;
}

.custom-btn-large:hover {
  background-color: #0052E2;
  color: white;
}

.custom-btn:hover {
  background-color: #0052E2;
  color: white;
}

img,
svg {
  width: 100%;
}

.top {
  position: fixed;
  bottom: 0;
  right: 0;
  border: 1px solid #0052E2;
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 12px;
}

.top a {
  color: #0052E2;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */