@import "font";
@import "header";
@import "banner";
@import "service";
@import "stage";
@import "price";
@import "learnmore";
@import "contactus";
@import "mediaquery";
.custom-container {
    max-width: 992px;
    margin: 0 auto;
}

body {
    font-family: Lato-Regular;
    text-transform: capitalize;
}

html {
    scroll-behavior: smooth;
}

.custom-btn {
    border: 1px solid#0052E2;
    color: #0052E2;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: bolder;
    font-size: 12px;
}

.custom-btn-large {
    border: 1px solid#0052E2;
    color: #0052E2;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    font-weight: bolder;
    margin: 8px;
    font-size: 12px;
    width: 100%;
}

.custom-btn-large:hover {
    background-color: #0052E2;
    color: white;
}

.custom-btn:hover {
    background-color: #0052E2;
    color: white;
}

img,
svg {
    width: 100%;
}

.top {
    position: fixed;
    bottom: 0;
    right: 0;
    a {
        color: #0052E2;
        text-decoration: none;
    }
    border: 1px solid#0052E2;
    background-color: white;
    border-radius: 8px;
    padding: 8px;
    margin-top:8px;
    margin-bottom: 8px;
    font-size: 12px;
}